
body {background-color: #e6e3e3;
color:#010f0d ;
font-family: 'Times New Roman', Times, serif;
font-size: large;}
h1 {color: #060145;}
a:link {color: #ffffff;}
a:hover {color: #d8d7e0;}
a:visited {color: #7b32fa;}
nav {background-color: #0b094a;}
nav a:hover {background-color:#d8d7e0 ;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
#skip {
    position: absolute;
    left: -999px;
    background-color: white;
    border: 1px solid black;
}
/*this positions based on top left of viewport and pushes the skip link off screen*/
#skip:focus {
    position: absolute;
    left: 10px;}
.quote {float: right;}
