body {background-color: #302e2f;
color: #fa73f1;

}
h1 {color: #fa46d6;}
a:link {color: #ffffff;}
a:hover {color: #24edcb;}
a:visited {color: #f0e159;}
nav {background-color: #fa73f1;}
nav a:hover {background-color: #5a7094;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
